In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from auxiliar_functions import get_range_outlier, check_is_outlier, generate_df_counts

- Lectura y procesamiento del dataset

In [2]:
df_data = pd.read_csv("gdm_first_trimester_ml_dataset.csv")
df_data.head(5)

,age_years,bmi_prepreg_kg_m2,systolic_bp_mmHg,diastolic_bp_mmHg,map_mmHg,gestational_weeks,fpg_mmol_l,hba1c_percent,insulin_uIU_ml,homa_ir,triglycerides_mmol_l,hdl_mmol_l,parity,family_history_t2d,previous_gdm,pcos,smoking_first_trimester,physical_activity_level,diet_score_0_100,label_gdm
0,26.8,26.9,119.0,57.0,77.7,8.7,4.10,5.33,7.8,1.42,1.37,1.36,0,0,1,0,1,2.0,62.0,0
1,22.6,27.3,NaN,69.0,80.8,9.0,3.53,5.73,7.2,1.12,1.13,1.60,0,1,0,1,0,1.0,42.0,0
2,29.9,33.1,103.0,84.0,89.9,10.3,4.45,NaN,4.3,0.86,1.27,1.16,0,1,0,0,0,1.0,72.0,0
3,26.3,23.6,112.0,69.0,83.3,12.2,4.79,4.69,13.7,2.91,1.22,1.73,0,0,0,0,0,0.0,81.0,0
4,31.9,31.0,117.0,69.0,84.9,8.9,NaN,5.12,9.5,2.23,2.45,1.50,1,0,0,0,0,2.0,53.0,0

In [3]:
df_data.shape

(1500, 20)

In [4]:
df_data["label_gdm"].value_counts()

label_gdm
0    1239
1     261
Name: count, dtype: int64

In [5]:
df_data.dtypes

age_years                  float64
bmi_prepreg_kg_m2          float64
systolic_bp_mmHg           float64
diastolic_bp_mmHg          float64
map_mmHg                   float64
gestational_weeks          float64
fpg_mmol_l                 float64
hba1c_percent              float64
insulin_uIU_ml             float64
homa_ir                    float64
triglycerides_mmol_l       float64
hdl_mmol_l                 float64
parity                       int64
family_history_t2d           int64
previous_gdm                 int64
pcos                         int64
smoking_first_trimester      int64
physical_activity_level    float64
diet_score_0_100           float64
label_gdm                    int64
dtype: object

In [6]:
df_data["pcos"].unique().shape

(2,)

In [7]:
df_data.isna().astype(int)

,age_years,bmi_prepreg_kg_m2,systolic_bp_mmHg,diastolic_bp_mmHg,map_mmHg,gestational_weeks,fpg_mmol_l,hba1c_percent,insulin_uIU_ml,homa_ir,triglycerides_mmol_l,hdl_mmol_l,parity,family_history_t2d,previous_gdm,pcos,smoking_first_trimester,physical_activity_level,diet_score_0_100,label_gdm
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1496,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1497,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1498,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
df_nulls = df_data.isna().astype(int)

df_summary_null = generate_df_counts(df_nulls, columns_name=["descriptor", "count_Nulls", "count_Falses"])
df_summary_null

                 descriptor  count_Nulls  count_Falses
0                 age_years            0          1500
1         bmi_prepreg_kg_m2            0          1500
2          systolic_bp_mmHg           45          1455
3         diastolic_bp_mmHg           36          1464
4                  map_mmHg            0          1500
5         gestational_weeks            0          1500
6                fpg_mmol_l          109          1391
7             hba1c_percent          162          1338
8            insulin_uIU_ml          108          1392
9                   homa_ir            0          1500
10     triglycerides_mmol_l          148          1352
11               hdl_mmol_l           86          1414
12                   parity            0          1500
13       family_history_t2d            0          1500
14             previous_gdm            0          1500
15                     pcos            0          1500
16  smoking_first_trimester            0          1500
17  physical_activity_level           70          1430
18         diet_score_0_100           69          1431
19                label_gdm            0          1500

In [9]:
df_nulls

,age_years,bmi_prepreg_kg_m2,systolic_bp_mmHg,diastolic_bp_mmHg,map_mmHg,gestational_weeks,fpg_mmol_l,hba1c_percent,insulin_uIU_ml,homa_ir,triglycerides_mmol_l,hdl_mmol_l,parity,family_history_t2d,previous_gdm,pcos,smoking_first_trimester,physical_activity_level,diet_score_0_100,label_gdm
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1496,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1497,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1498,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1499,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

- Estadística descriptiva

In [10]:
columns_to_ignore = [
    "parity", 
    "family_history_t2d",
    "previous_gdm",
    "pcos", 
    "smoking_first_trimester",
    "label_gdm"
]

In [11]:
df_data.describe()

,age_years,bmi_prepreg_kg_m2,systolic_bp_mmHg,diastolic_bp_mmHg,map_mmHg,gestational_weeks,fpg_mmol_l,hba1c_percent,insulin_uIU_ml,homa_ir,triglycerides_mmol_l,hdl_mmol_l,parity,family_history_t2d,previous_gdm,pcos,smoking_first_trimester,physical_activity_level,diet_score_0_100,label_gdm
count,1500.000000,1500.000000,1455.000000,1464.000000,1500.000000,1500.000000,1391.000000,1338.000000,1392.000000,1500.000000,1352.000000,1414.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1430.000000,1431.000000,1500.000000
mean,29.129600,26.284738,112.029553,70.535519,84.398244,10.811667,4.801589,5.218923,10.990520,2.394468,1.612710,1.482150,1.001333,0.304667,0.099333,0.099333,0.112667,0.861538,64.823201,0.174000
std,4.988332,5.005360,12.254459,8.516566,7.215258,1.611753,0.977795,0.376506,4.487567,1.683579,0.705940,0.331403,0.987580,0.460420,0.299209,0.299209,0.316290,0.723776,12.217272,0.379236
min,16.000000,16.000000,80.000000,45.000000,61.100000,8.000000,3.200000,4.500000,3.200000,0.490000,0.510000,0.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,25.600000,22.900000,104.000000,65.000000,79.700000,9.400000,4.300000,5.000000,8.075000,1.640000,1.167500,1.270000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,57.000000,0.000000
50%,29.100000,26.350000,112.000000,70.000000,84.300000,10.800000,4.710000,5.200000,10.200000,2.120000,1.485000,1.500000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,65.000000,0.000000
75%,32.525000,29.400000,120.000000,76.000000,88.900000,12.200000,5.150000,5.400000,12.900000,2.720000,1.900000,1.700000,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000,73.000000,0.000000
max,44.200000,48.475791,165.000000,100.000000,117.333333,13.600000,14.420883,7.856413,54.377082,24.530822,9.262292,2.510000,5.000000,1.000000,1.000000,1.000000,1.000000,2.000000,100.000000,1.000000

In [12]:
statistical_descriptors = []

for column in df_data.columns:
    if column not in columns_to_ignore:
        descriptive_values = df_data[column].describe()

        IQR = descriptive_values["75%"] - descriptive_values["25%"]
        min_value, max_value = get_range_outlier(
            descriptive_values["25%"], 
            descriptive_values["75%"], 
            IQR)

        row = {
            "descriptor" : column,
            "mean":descriptive_values["mean"],
            "std" :descriptive_values["std"],
            "median" : descriptive_values["50%"],
            "IQR" : IQR,
            "25%" : descriptive_values["25%"],
            "75%" :descriptive_values["75%"],
            "min_value_for_outlier" : min_value,
            "max_value_for_outlier" : max_value

        }
        statistical_descriptors.append(row)

df_statistical = pd.DataFrame(statistical_descriptors)
df_statistical

,descriptor,mean,std,median,IQR,25%,75%,min_value_for_outlier,max_value_for_outlier
0,age_years,29.129600,4.988332,29.100,6.9250,25.6000,32.525,15.21250,42.91250
1,bmi_prepreg_kg_m2,26.284738,5.005360,26.350,6.5000,22.9000,29.400,13.15000,39.15000
2,systolic_bp_mmHg,112.029553,12.254459,112.000,16.0000,104.0000,120.000,80.00000,144.00000
3,diastolic_bp_mmHg,70.535519,8.516566,70.000,11.0000,65.0000,76.000,48.50000,92.50000
4,map_mmHg,84.398244,7.215258,84.300,9.2000,79.7000,88.900,65.90000,102.70000
5,gestational_weeks,10.811667,1.611753,10.800,2.8000,9.4000,12.200,5.20000,16.40000
6,fpg_mmol_l,4.801589,0.977795,4.710,0.8500,4.3000,5.150,3.02500,6.42500
7,hba1c_percent,5.218923,0.376506,5.200,0.4000,5.0000,5.400,4.40000,6.00000
8,insulin_uIU_ml,10.990520,4.487567,10.200,4.8250,8.0750,12.900,0.83750,20.13750
9,homa_ir,2.394468,1.683579,2.120,1.0800,1.6400,2.720,0.02000,4.34000
10,triglycerides_mmol_l,1.612710,0.705940,1.485,0.7325,1.1675,1.900,0.06875,2.99875
11,hdl_mmol_l,1.482150,0.331403,1.500,0.4300,1.2700,1.700,0.62500,2.34500
12,physical_activity_level,0.861538,0.723776,1.000,1.0000,0.0000,1.000,-1.50000,2.50000
13,diet_score_0_100,64.823201,12.217272,65.000,16.0000,57.0000,73.000,33.00000,97.00000

- Deteccion de outliers

In [13]:
df_outliers = pd.DataFrame()

for column in df_data.columns:
    if column not in columns_to_ignore:
        
        df_filter = df_statistical[df_statistical["descriptor"] == column]
        df_filter.reset_index(inplace=True)

        min_value, max_value = df_filter["min_value_for_outlier"][0], df_filter["max_value_for_outlier"][0]

        df_outliers[column] = df_data[column].apply(lambda x: check_is_outlier(x, min_value, max_value))

In [14]:
df_outliers = df_outliers.astype(int)
df_summary_outlier = generate_df_counts(df_outliers, columns_name=["descriptor", "count_Outlier", "count_NotOutlier"])
df_summary_outlier

                 descriptor  count_Outlier  count_NotOutlier
0                 age_years              5              1495
1         bmi_prepreg_kg_m2             13              1487
2          systolic_bp_mmHg              9              1491
3         diastolic_bp_mmHg             18              1482
4                  map_mmHg             23              1477
5         gestational_weeks              0              1500
6                fpg_mmol_l             24              1476
7             hba1c_percent             24              1476
8            insulin_uIU_ml             46              1454
9                   homa_ir             59              1441
10     triglycerides_mmol_l             45              1455
11               hdl_mmol_l             20              1480
12  physical_activity_level              0              1500
13         diet_score_0_100             14              1486

- E