### Ejemplos demostrativos de conceptos b√°sicos de python.

- Tipos de datos
- Datos estructurados y no estructurados
- Operaciones
- Condicionales y Ciclos
- Funciones
- Demo POO

In [1]:
# pip install seaborn

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from random import randint

In [3]:
def my_function_01():
    print("Hola")

In [4]:
def my_function_02(name, message):
    print(f"Hola: {name}, this is the message: {message}")

In [5]:
def my_function_03(name="Diego", message="Hello world"):
    print(f"Hola: {name}, this is the message: {message}")

In [6]:
variable1 = "perro"

In [7]:
variable2 = 4

In [8]:
variable1 * variable2

'perroperroperroperro'

In [9]:
if variable1 == "Gato":
    print("Es un gato")
elif variable1.capitalize() == "Perro":
    print("Es un Perro")
else:
    print("Hay que revisar")

Es un Perro

In [10]:
for i in range(10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [11]:
lista_1 = [variable1, variable2, "hola"]
lista_1

['perro', 4, 'hola']

In [12]:
lista_1[1:]

[4, 'hola']

In [13]:
dict_demo = {
    "key1" : variable1,
    "key2" : variable2
}

dict_demo

{'key1': 'perro', 'key2': 4}

In [14]:
dict_demo['key1']

'perro'

In [15]:
complex_dict = {
    "key1" : dict_demo,
    "key2" : lista_1
}

In [16]:
complex_dict['key1']['key1']

'perro'

In [17]:
complex_dict['key2'][1:]

[4, 'hola']

In [18]:
my_function_01()

Hola

In [19]:
my_function_02("Hola hola", "Diego")

Hola: Hola hola, this is the message: Diego

In [20]:
my_function_03(message="New secret message", name="Diego3")

Hola: Diego3, this is the message: New secret message

In [26]:
df = pd.DataFrame()
df["column1"] = [randint(10, 100) for i in range(10)]
df.head(5)

   column1
0       35
1       49
2       75
3       30
4       67